ellipse {
	// fill: gray;
	fill-opacity: 0.75;
}

ellipse:hover {
	fill-opacity: 0.25;
	// fill: gold;
}

p {
	font: 11px sans-serif;
}

#slider {
	width: 600px;
}

.ui-slider .ui-slider-handle {
	width: 0.3em;
	margin-left: -0.2em;
}

label {
	font: 11px sans-serif;
}
