/* conainers: http://www.vanseodesign.com/css/2-column-layout-code/ */

#container {
	width:950px;
	margin:0 auto;
	background:#fff;
	/* border: 1px solid #333; */
}

#left_panel {
	float: left;
	width: 440px;
	margin: 10px;
}

#right_panel {
	float: left;
	width: 440px;
	margin: 10px;
}

#footer {
	clear: both;
}

#center_image {
	float: left;
	margin: 5px;
	border: 1px solid #ccc;
}

#basis_images {
	float: left;
	margin: 5px;
	border: 1px solid #ccc;
}

p, label {
	font-family: sans-serif;
	font-size: 80%;
}

ellipse {
	fill: gray;
	/* fill-opacity: 0.1; */
}

ellipse:hover {
	fill-opacity: 0.2;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

#tree {
	margin-top: 20px;
}

rect {
	stroke: #fff;
	stroke-width: 1;
	/* shape-rendering: crispEdges; */
}

rect.r_basis {
	stroke: black;
	stroke-width: 2;
}

/* selection listed second so takes precedence over basis... */
rect.r_selected {
	stroke: gold;
	stroke-width: 3;
}

rect.hidden {
	fill: #ccc !important;
}

/* brush */
.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
